{% extends 'home.html' %}
{% block content %}

    <h1 class="equity-name">{{ equity.name }}</h1>
    <p>{{ equity.description }}</p>

        <img src=" {{ equity.source_close }}" alt="">
        <img src=" {{ equity.source_vwap }}" alt="">
        <img src=" {{ equity.source_moving_averages }}" alt="">
        <img src=" {{ equity.source_pivot_points }}" alt="">

        <img src=" {{ equity.source_close_mo12 }}" alt="">
        <img src=" {{ equity.source_vwap_mo12 }}" alt="">
        <img src=" {{ equity.source_moving_averages_mo12 }}" alt="">




{% endblock %}