{% extends 'index.html' %}
{% block content %}




    <table class="table">
        <thead>
        <tr>

            <th scope="col">Equity</th>
            <th scope="col">Close</th>
            <th scope="col">Open</th>
            <th scope="col">Low</th>
            <th scope="col">High</th>
            <th scope="col">Pivot s2</th>
            <th scope="col">Pivot s1</th>
            <th scope="col">Pivot</th>
            <th scope="col">Pivot r1</th>
            <th scope="col">Pivot r2</th>
            <th scope="col">VWAP high</th>
            <th scope="col">VWAP low</th>
            <th scope="col">MA50</th>
            <th scope="col">MA100</th>
            <th scope="col">MA200</th>
        </tr>
        </thead>
        <tbody>
        {% for equity in data %}

            <tr>

                <td><a href="{{ equity.id }}">{{ equity.name }}</a></td>
                <td>{{ equity.close_price }}</td>
                <td>{{ equity.open_price }}</td>
                <td>{{ equity.low_price }}</td>
                <td>{{ equity.high_price }}</td>
                <td>{{ equity.pivot_s2_price }}</td>
                <td>{{ equity.pivot_s1_price }}</td>
                <td>{{ equity.pivot_price }}</td>
                <td>{{ equity.pivot_r1_price }}</td>
                <td>{{ equity.pivot_r2_price }}</td>
                <td>{{ equity.vwap_high_price }}</td>
                <td>{{ equity.vwap_low_price }}</td>
                <td>{{ equity.ma50_price }}</td>
                <td>{{ equity.ma100_price }}</td>
                <td> {{ equity.ma200_price }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}
