{% extends 'index.html' %}
{% block content %}

    <div class="home-grid">
        {% for equity in data %}

            <a href="/{{ equity.id }}">
                <div class="card">
                    <div class="container">
                        <h4><b>{{ equity.name }}</b></h4>
                        <table>
                            <tr class="headers_table">
                                <th>Close </th>
                                <th>Open </th>
                                <th>Low </th>
                                <th>High </th>
                            </tr>
                            <tr>
                                <th>{{ equity.close_price }}</th>
                                <th>{{ equity.open_price }}</th>
                                <th>{{ equity.low_price }}</th>
                                <th>{{ equity.high_price }}</th>
                            </tr>
                            <tr>
                                <th>VWAP HIGH </th>
                                <th>MA50 </th>
                                <th>MA100 </th>
                                <th>MA200</th>
                            </tr>
                            <tr>
                                <th>{{ equity.vwap_high_price }}</th>
                                <th>{{ equity.ma50_price }}</th>
                                <th>{{ equity.ma100_price }}</th>
                                <th> {{ equity.ma200_price }}</th>
                            </tr>
                        </table>

                        <p></p>


                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    </div>
{% endblock %}
