<!DOCTYPE html>
<html lang="">
<head>
    <title>Strategy Tester</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>

<div class="navbar">
    <div class="nav-logo">ST</div>

    <div class="nav-links">
        <a href="/home">
            <div class="nav-item">Home</div>
        </a>
        <a href="/strategies">
            <div class="nav-item">Strategies</div>
        </a>
        <div class="nav-item">About</div>
        <div class="nav-item">Update</div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>