{% extends 'index.html' %}

{% block content %}
    {% load static %}


    <table class="table">
        <thead>
        <tr>

            <th scope="col">Equity</th>
            <th scope="col">SL Result</th>
            <th scope="col">SL Counter</th>
            <th scope="col">TP Result</th>
            <th scope="col">TP Counter</th>
            <th scope="col">Possible Trade</th>
            <th scope="col">Chart</th>
        </tr>
        </thead>
        <tbody>
        {% for n in data %}
            <tr>

                <td><a href="{{ n.id }}">{{ n.name }}</a></td>
                <td>{{ n.stop_loss_result }}</td>
                <td>{{ n.stop_loss_counter }}</td>
                <td>{{ n.take_profit_result }}</td>
                <td>{{ n.take_profit_counter }}</td>
                <td>{{ n.possible_trade }}</td>
                <td><a href="{{ n.source_close }}" target="_blank">link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
