{% extends 'index.html' %}

{% block content %}
    {% load static %}

        {% for n in data %}
 <div class="container text-center">
 <div class="row">
      <div class="col">
            <div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{ n.name }}</h5>
      <p class="card-text">{{ n.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Stop Loss Result: {{ n.stop_loss_result }}</li>
    <li class="list-group-item">Take Profit Result: {{ n.take_profit_result }}</li>
    <li class="list-group-item">Take Profit: {{ n.take_profit_counter }}</li>
      <li class="list-group-item"> Stop Loss: {{ n.stop_loss_counter }}</li>
      <li class="list-group-item"> Possible Trade: {{ n.possible_trade }}</li>
  </ul>
<img src={{ n.source_close }} alt="any">
</div>
 </div>
 </div>
 </div>
        {% endfor %}

{% endblock %}
